<% title "Quienes somos" %>

<div class="container" id="globo-about">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>¿ Quienes Somos ?</h2>
    </div>
    <p>PanoramaSur es un sistema web enfocado en la decima region que permitira a consumidores de eventos culturales y de entretencion el obtener informacion relacionada a los eventos de la region y, en el mismo sitio, adquirir los tickets de acceso. De igual forma, los productores de eventos dispondran en el sistema la posibilidad de publicar sus eventos y obtener las ganancias de la venta de tickets.</p>
   <hr style="margin-bottom: 50px; margin-top: 50px; width: 70%; border-color: rgb(235, 235, 235)">
  </div>
  <div class="row"> <!-- Comienzo informacion -->
    <div class="col-sm-3">
      <div  class="ratio img-responsive img-circle" style="background-image: url(https://camo.githubusercontent.com/47dcfb965976b72705949abac49512c08f98b60e/687474703a2f2f696d672e736b697463682e636f6d2f32303132303730322d6b36636370376b6b6a6a686163663371693279357972683768712e676966);"></div>
    </div>
    <div class="col-sm-9">
      <h3>Francisco Valenzuela</h3>
    </div>
  </div><!-- Fin informacion -->
  <hr style="margin-bottom: 50px; margin-top: 50px; width: 40%; border-color: rgb(235, 235, 235)">
  <div class="row"> <!-- Comienzo informacion -->
    <div class="col-sm-9">
      <h3>Sebastian Andrades</h3>
    </div>
    <div class="col-sm-3">
      <div  class="ratio img-responsive img-circle" style="background-image: url(https://camo.githubusercontent.com/47dcfb965976b72705949abac49512c08f98b60e/687474703a2f2f696d672e736b697463682e636f6d2f32303132303730322d6b36636370376b6b6a6a686163663371693279357972683768712e676966);", id="photo-right"></div>
    </div>
  </div><!-- Fin informacion -->
  <hr style="margin-bottom: 50px; margin-top: 50px; width: 40%; border-color: rgb(235, 235, 235)">
  <div class="row"> <!-- Comienzo informacion -->
    <div class="col-sm-3">
      <div  class="ratio img-responsive img-circle" style="background-image: url(https://camo.githubusercontent.com/47dcfb965976b72705949abac49512c08f98b60e/687474703a2f2f696d672e736b697463682e636f6d2f32303132303730322d6b36636370376b6b6a6a686163663371693279357972683768712e676966);"></div>
    </div>
    <div class="col-sm-9">
      <h3>Alexis Mansilla</h3>
    </div>
  </div><!-- Fin informacion -->
  
</div>


