<% title "Precios" %>

<div class="container" id="globo-price">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>¿Quieres promocionar tu eventos gratis ?</h2>
    </div>
    <div class="col-md-12 text-center">
      <p class="title-light">Costo del Servicio</p>
      <h1>GRATIS</h1>
      <%= button_to 'Regístrate Aquí ', new_producer_registration_path, :method => :get, :class => 'btn btn-success btn-lg', :id => 'btn-registrar'%> <br>
      <div class="col-md-10 col-md-offset-1 text-center">
         <p class="text-area">Panoramasur es gratuito para registro de productores de todo tipo de eventos, y todos nuestros servicios GOLD están al alcance de cualquiera que lo requiera. ¡No hay costos ocultos!</p>
      </div>     
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center" id="title">
      <h2>¿Quieres promocionar eventos de pago?</h2>
    </div>
    <div class="col-md-12 text-center">
      <p class="title-light">Costo del Servicio</p>
      <h1>$ 20.000</h1>
      <p class="title-gold">Productor Gold</p>
      <div class="col-md-10 col-md-offset-1">
         <p class="text-area">Con la cuenta productor Gold te ayudamos a dar un paso más alla, entregando un plus 
        a este servicio, puedes crear eventos ilimitados y ademas la venta de tickets
        con la seguridad que se debe; Si necesitas saber mas información puedes leer las politicas
        y privacidades.</p>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <h3>tickets</h3>
      </div>     
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>¿Quieres destacar tu eventos de los demas?</h2>
    </div>
    <div class="col-md-12 text-center">
      <p class="title-light">Costo del Servicio</p>
      <h1>$ 50.000</h1>
      <div class="col-md-10 col-md-offset-1">
        <p class="text-area">Puedes destacar tus eventos, y estar entre las primeras
          filas para que mas usuarios vean tus publicación. </p>
      </div>
    </div>
  </div>
</div>