<div class="titulo-pagina">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <strong><h2><i class="fa fa-pencil fa-2x"></i>Configuracion de Cuenta</h2></strong>
    </div>
  </div>
</div>
<!-- Formulario Editar -->
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="globo-event-new" class="globo">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">Configurar Cuenta</a></li>
          <li><a href="#">Contraseña</a></li>
          <li><a href="#">Cancelar Cuenta</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Termina Formulario editar -->