<% title "Resultado de la transacción" %>

<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<div id="globo-search" style="padding: 10px;">
				<h2>Resumen Transacción</h2>
				<table class="table">
					<tr>
						<td>Estado de la transaccion</td>
						<td>Transacción exitosa</td>
					</tr>
				</table>

			<%= link_to 'Volver', "/", :class => "btn btn-primary" %>
		</div>
	</div>
</div>